{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Ajouter une nouvelle personne</h2>
    <form method="POST" action="/ajouter_personne" class="card p-4 shadow-sm bg-white">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" required>
        </div>

        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" required>
        </div>

        <div class="mb-3">
            <label for="mail" class="form-label">Email</label>
            <input type="email" class="form-control" id="mail" name="mail" required>
        </div>

        <div class="mb-3">
            <label for="sexe" class="form-label">Sexe</label>
            <select class="form-select" id="sexe" name="sexe" required>
                <option value="">Sélectionner</option>
                <option value="M">Masculin</option>
                <option value="F">Féminin</option>
                <option value="Autre">Autre</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="date_naissance" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
        </div>

        <div class="mb-3">
            <label for="mp" class="form-label">mp</label>
            <input type="password" class="form-control" id="mp" name="mp" required>
        </div>
        <div class="mb-3">
            <label for="mp_confirmation" class="form-label">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="mp_confirmation" name="mp_confirmation" required>
        </div>

        <button type="submit" class="btn btn-primary">Ajouter la personne</button>
    </form>
</div>
{% endblock %}
